.form-element {
  
  display: table-cell;
  box-sizing: border-box;
}
.menu2 {
 
  padding: 1.5%; 
  background-color: lavender;
}
.textfield {
  
  width:92%
}
.numero {
  
  width: 100%;
  background-color: #D5D8DC;
  float: left;
}
.numero p {
  font-size: 15px;
  margin-top: 2px;
  margin-right: 5%;
  float: right;
}
.textfield > input {
  width:100%
}
.btnb {
  margin-left: 8%;
  margin-top: 1%;
  width: 100%;
  height: 5%;
  color: #0c0c0cf5;
  background-color: rgb(36, 136, 202);
}

 input {
  
  margin-left: 1%;
  margin-top: 1%;
  background-color:rgb(71, 70, 67);
  padding:8px;
  
  color:rgb(238, 243, 245);
  font-size:14pt;
  
  
 
}
.topnav {
  margin-left: 0%;
  padding: 0%;
  margin-top: 0px;
  overflow: hidden;
  background-color: #D5D8DC;
  border-style:   solid;
  border-color: #D5D8DC;
  position: fixed;
  width: 100%;
}

.topnav a {
  margin-left: 0%;
  margin-top: 0px;
  float: left;
  display: block;
  color: #646060;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color:#D5D8DC ;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}




@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav input:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav input.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav button:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav button.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive input{
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.logo{
  margin-left: 5%;
   margin-top: 7px;
    float: left

}
.logo1{
  margin-right: 5%;
  
   margin-top: 1%;
    float: right;

}
.logo2{
  margin-right: 1%;
   margin-top: 1%;
    float: right;

}
.logo3{
  margin-right: 1%;
  margin-left: 1%;
   margin-top: 1%;
    float: right;

}
.nombre {
  
  margin-left: 5%;  
    color: #3498DB;
    margin-top: 15px;
    float: left;
}
.busca {
    margin-top: 15px;
    float: right;
}


